# Connection Details

In [ ]:
!pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.29-cp37-cp37m-manylinux1_x86_64.whl (25.2 MB)
     |████████████████████████████████| 25.2 MB 70.0 MB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.29

In [ ]:
import mysql.connector as connection
import pandas as pd
try:
    mydb = connection.connect(host="sql5.freemysqlhosting.net", database = 'sql5504952',user="sql5504952", passwd="z7M513Z5hV",use_pure=True)
    query1 = "SELECT * FROM city;"
    query2 = "SELECT * FROM country;"
    query3 = "SELECT * FROM countrylanguage;"
    city_dataframe = pd.read_sql(query1,mydb)
    country_dataframe = pd.read_sql(query2,mydb)
    countrylanguage_dataframe = pd.read_sql(query3,mydb)
    mydb.close() #close the connection
except Exception as e:
    mydb.close()
    print(str(e))

In [ ]:
# Renaming the columns Name to City and Population to City_Population
city_dataframe.rename(columns = {'Name':'City', 'Population':'City_Population'}, inplace = True)
city_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4079 entries, 0 to 4078
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               4079 non-null   int64
 1   City             4079 non-null   object
 2   CountryCode      4079 non-null   object
 3   District         4079 non-null   object
 4   City_Population  4079 non-null   int64
dtypes: int64(2), object(3)
memory usage: 159.5+ KB

In [ ]:
# Renaming the column Name to Country
country_dataframe.rename(columns = {'Name':'Country'}, inplace = True)
country_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Code            239 non-null    object
 1   Country         239 non-null    object
 2   Continent       239 non-null    object
 3   Region          239 non-null    object
 4   SurfaceArea     239 non-null    float64
 5   IndepYear       192 non-null    float64
 6   Population      239 non-null    int64
 7   LifeExpectancy  222 non-null    float64
 8   GNP             239 non-null    float64
 9   GNPOld          178 non-null    float64
 10  LocalName       239 non-null    object
 11  GovernmentForm  239 non-null    object
 12  HeadOfState     238 non-null    object
 13  Capital         232 non-null    float64
 14  Code2           239 non-null    object
dtypes: float64(6), int64(1), object(8)
memory usage: 28.1+ KB

In [ ]:
countrylanguage_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryCode  984 non-null    object
 1   Language     984 non-null    object
 2   IsOfficial   984 non-null    object
 3   Percentage   984 non-null    float64
dtypes: float64(1), object(3)
memory usage: 30.9+ KB

# Exercises

In [ ]:
## Dataframes: 
## city_dataframe
## country_dataframe
## countrylanguage_dataframe

## 01 Top 10 cities with the highest population

## 02 District with the most cities

## 03 List of cities whose names end with “an”

## 04 Country with the most cities in Europe

## 05 List countries and head of state with the largest surface area from the Middle East region, in descending order by surface area

## 06 List of Government Forms and the count of countries by Continent (As columns)

## 07 List the names, surface area, and life expectancy of the countries under a Constitutional Monarchy in North America

## 08 Most recent country and year to gain independence and oldest country and year to gain independence in one table

In [ ]:
## +-------+-------------------+
## | Name  | Independence Year |
## +-------+-------------------+
## | Palau |              1994 |
## | China |             -1523 |
## +-------+-------------------+

## 09 Head of State with most countries (include average life expectancy)

## 10 Country with more languages

## 11 Top 5 countries where English is spoken by more than 60% of the population

## 12 List of cities that share the same name as the country (Column headers should say: City and Country)

## 13 Countries with the lowest and highest life expectancy in one table (Don't include nulls)

## 14 List the TOP 10 countries with the highest GNP per capita and the official language, ordered by GNP, highest to lowest

## 15 What is the government form with the lowest GNP per capita that is not zero? List the country, region and continent too

## 16 Which is the least spoken official language by population?

## 17 List the country with the smallest surface area along with population, language and government form

## 18 List the top 10 countries with the largest surface area and number of districts

## 19 List the city, city population, country, country population and the official language of the Asian continent

## 20 List the country and a column named "Decades from Independence" that shows the number of decades that have passed since the independence year. Limit results to 20 rows and order by number of decades

## 21 List 20 rows with the following format: "Belgium is a country that belongs to the continent of Europe, with a population of 10239000 people, with a life expectancy of 77.8 years and they speak Dutch officially"

## 22 List the cities of USA, a column named "Size" that will show 2 categories: Big city (Pop > 1,000,000) and Small city (Pop < 1,000,000).

## 23 Create a list of city districts with the average life expectancy and total district population. Order by Population List 30 rows

## 24 List the heads of state, a column with the total number of countries under their command, another column with the total population under their command and the average life expectancy

## 25 List of continents with top 3 countries by population in descending order

## 26 List of districts whose district name contains "tr" or "ng" and population is > 30,000, in descending order

## 27 List of cities from South America, official language and head of state

## 28 List the cities of Africa and country where they speak French as the official language

## 29 List a column with the count of countries that belong to a population group (< 50000 then Small, between 50000 and 500000 then Medium, > 500000 then Large) Example:

In [ ]:
## +-----------------+-------------------+
## | # of Countries  | Population Group  |
## +-----------------+-------------------+
## | #               |             Small |
## | #               |            Medium |
## | #               |            Large  |
## +-------+-----------------------------+

## 30 List region, country, country population, and most popular language of the country

## 31 List the country, population and % of total population (LIMIT TO 30)